<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="/var/mycloud/logs/app_logs" />

	<conversionRule conversionWord="exception"
		converterClass="com.developerhelperhub.ms.id.config.CompressedStackTraceConverter" />

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${LOGS}/app.log</file>

		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

			<pattern>%d|%thread|%5p|%logger{25}|%msg %exception %n</pattern>

		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<!-- rollover daily and when the file reaches 10 MegaBytes -->

			<fileNamePattern>${LOGS}/archived/app-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">

		<layout class="ch.qos.logback.classic.PatternLayout">

			<pattern>%d|%blue(%thread)|%highlight(%5p)|%yellow(%logger{25})|%msg%n%throwable
			</pattern>

		</layout>
	</appender>

	<springProfile name="staging, production">
		<!-- LOG everything at INFO level -->
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>

		<logger name="org.springframework" level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>

		<logger name="com.developerhelperhub" level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
	</springProfile>


	<springProfile name="dev">
		<!-- LOG everything at INFO level -->
		<root level="info">
			<appender-ref ref="Console" />
		</root>

		<logger name="org.springframework" level="debug">
			<appender-ref ref="Console" />
		</logger>

		<logger name="com.developerhelperhub" level="debug">
			<appender-ref ref="Console" />
		</logger>
	</springProfile>

</configuration>
