/* Hide the browser-specific focus styles */

.form-floating>.form-control {
    height: calc(2rem + 2px);
    padding: 0.25rem .25rem;
}

.form-floating>.form-select {
    height: calc(2rem + 2px);
    padding: 0.90rem .25rem 0.25rem .25rem;
}

.form-floating>label {
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    padding: .25rem .25rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
